/*start main rules*/
body{
	background: #F4F4F4;
	font-size: 16px;
	
}
.asterisk{
	font-size: 30px;
	position: absolute;
	right: 30px;
	top: 8px;
	color: #d20707;
}
.nice-message{
	padding: 10px;
	background: #FFF;
	margin: 10px 0;
	border-left: 5px solid #080;
}
.manage-avatar tr td img{
	width: 40px;
	height: 40px;
	border-radius:50%;
}
/*end main rules*/

/*start login form*/
.login{
	width: 300px;
	margin: 200px auto;
}
.login h4{
	color: #888;
}
.login input{
	margin-bottom: 10px;
	padding-left: 32px;
}
.login input + i{
	position: relative;
    height: 0;
    float: left;
    top: -35px;
    left: 10px;
    color: #999;
}
.login .form-control{
	background: #EAEAEA;
}
.login .btn{
	background: #08ddee;
}
/*end login form*/


/*start bootstrap Edits*/
.navbar{
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse{
	background: #233040;
}
.nav >li>a,
.navbar-brand{
	padding: 15px 12px;
}
.navbar-brand{
	font-size: 1em;
}


.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-nav .open .dropdown-menu  {
    color: #fff;
    background-color: #3498db;
}
.navbar-nav>li>.dropdown-menu{
	min-width: 180px;
	padding: 0;
	font-size: 1em;
	border: none;
	border-radius: 0;
}
.count li span{
	position: absolute;
    width: 20px;
    height: 20px;
    color: #fff;
    right: 0;
    top: 0;
    background: #53462e;
    border-radius: 50%;
    text-align: center;
}
    
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: #FFF;
	padding: 10px 15px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
	color: #FFF;
	background: #8e44ad;
}
.form-control{
	position: relative;
}
/*end bootstrap Edits*/

/*start dashboard page*/
.home-stats .stat{
	padding: 20px;
	font-size: 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.home-stats .stat i{
	position: absolute;
	font-size: 80px;
	left: 30px;
	top: 20px;
	color: #EEE;
}
.home-stats .stat .info{
	float: right;
}
.home-stats .stat a{
	color: #FFF;

}
.home-stats .stat a:hover{
	text-decoration: none;
}

.home-stats .stat span{
	display: block;
	font-size: 50px;
}
.home-stats .members{
	background:#2980b9 
}
.home-stats .pending{
	background: #e74c3c
}
.home-stats .items{
	background:#27ae60 
}
.home-stats .comments{
	background: #8e44ad
}
.latest{
	margin-top: 30px;
}
.latest .toggle-info{
	color: #999;
	cursor: pointer;
}
.latest .toggle-info:hover{
	color: #444;
}
.latest-users{
	margin-bottom: 0;
}
.latest-users li{
	padding: 5px;
	overflow: hidden;
}
.latest-users li:nth-child(odd){
	background: #EEE;
}

.latest-users .btn-success,
.latest-users .btn-info{
	padding:4px 8px;
}
.latest-users .btn-info{
	margin-right: 5px;
}
.latest	.comment-box{
	margin: 5px 0 10px;
	overflow: hidden;
}
.latest	.comment-box .member-n,
.latest	.comment-box .member-c{
	float:left;
}
.latest	.comment-box .member-n{
	width: 18%;
	text-align: center;
	margin-right: 2%;
	position: relative;
	top: 10px;
}
.latest	.comment-box .member-c{
	width:80%;
	background: #EFEFEF;
	padding: 10px;
}
.latest	.comment-box .member-c:before{
	content: "";
	display: block;
	left: -38px;
	top: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #EFEFEF transparent transparent; 
	border-width: 15px;
	position: relative;

}
/*end dashboard page*/

/*satrt member page*/
h1{
	font-size: 60px;
	margin: 20px 0;
	font-weight: bold;
	color: #777;
}

.show-pass{
	position: absolute;
	top: 6px;
	right: -30px;
}
.main-table{
	-webkit-box-shadow: 0 3px 10px #CCC;
	-moz-box-shadow: 0 3px 10px #CCC;
	-o-box-shadow: 0 3px 10px #CCC;
	box-shadow: 0px 3px 10px #CCC;
}
.main-table td{
	background: #FFF;
	vertical-align: middle !important;
}

.main-table tr:first-child td{
	background: #333;
	color: #FFF;
	text-align:center; 
}
.main-table .btn{
	padding: 3px 10px;

}
.activate{
	margin-left: 5px;
}
/*end member page*/
/*start categorie page*/
.categories .panel-heading{
	color: #959595;
	font-weight: bold;
}
.categories .panel-heading i{
	position: relative;
	top: 1px;
	right: 3px;
}
.categories .panel-body{
	padding: 0;
}
.categories .option a{
	color: #888;
	text-decoration: none;
}
.categories .option span{
	color: #888;
	cursor: pointer;
}
.categories .option .active{
	color: #F00;
}
.categories hr{
	margin-top: 0;
	margin-bottom: 0;
}
.categories .cat {
	padding: 15px;
	position: relative;
	overflow: hidden;
}
.categories .cat:hover{
	background: #EEE;
}
.categories .cat:hover .hidden-buttons{
	right: 10px;
}
.categories .cat .hidden-buttons{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 15px;
	right: -200px;
}
.categories .cat .hidden-buttons a{
	margin-right: 5px;
}
.categories .cat h3{
	margin:0;
	cursor: pointer;
	font-weight: bold;
	color: #EA6A6A;
}
.categories .cat .full-view p{
	margin:10px 0;
	color: #777;
}
.categories .cat:last-of-type ~ hr{
	display: none;
}
.categories hr{
	border:3px dashed #eee;
}
.categories .cat .visibility,
.categories .cat .commenting,
.categories .cat .adverties{
	color: #FFF;
	padding: 4px 6px;
	margin-right: 6px;
	border-radius: 6px;
}
.categories .cat .visibility{
	background: #27ae60;
}
.categories .cat .commenting{
	background: #2c3e50
}
.categories .cat .adverties{
	background: #C0392b;
}
.categories .child-head{
	margin:15px 0 5px;
	color: #76ad99;
	font-weight: bold;
}
.categories .child-cats{
	margin-left: 15px;

}

.categories .child-cats li:before{
	content: "-";
}

.categories .add-category{
	margin-bottom: 30px;
	margin-top: -10px;
}
.categories .child-cats .show-delete{
	color: #F00;
	display: none;

}
/*end categorie page*/

